<div class="timtools-container centered-vertically">
  <div class="timtools-title">
    <%= link_to timtools_path do  %>
      <i class="fas fa-igloo"></i>
    <% end %>
    <h1>Gestion des docus</h1>
  </div>

   <div class="timtools-cards">

    <%= link_to new_docu_path do %>
      <div class="timtools-card"><p>AJOUTER UN NOUVEAU DOCU</p></div>
    <% end %>

    </div>

    <% @docus.each do |f| %>

      <div class="edit-card">
        <div class="image-container">
          <% if f.photo.attached? %>
            <%= cl_image_tag f.photo.key%>
          <% else %>
            <%= image_tag "logo_white.png" %>
          <% end %>
        </div>
        <div class="title-container">
          <%= f.title %>
        </div>
        <div class="possible-actions">
          <%= link_to docu_path(f) do  %>
            <i class="far fa-eye"></i>
          <% end %>
          <%= link_to edit_docu_path(f) do  %>
            <i class="far fa-edit"></i>
          <% end %>
          <%= link_to docu_path(f), method: :delete, data: { confirm: "Je vais détruire ce docu. Es-tu sûr?" } do%>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    <% end %>

</div>




