<%= render 'shared/navbar' %>
<%= render 'shared/sidenav' %>

<div id="links-container">

  <%= link_to root_path, class: "main-button" do %>
    <p>ACCUEIL</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to nos_fictions_path, class: "main-button" do  %>
    <p>FICTIONS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to nos_documentaires_path, class: "main-button" do  %>
    <p>DOCUMENTAIRES</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to  nos_publicites_path, class: "main-button" do %>
    <p>PUBLICITÉS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to apropos_path, class: "main-button" do %>
    <p>À PROPOS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to contact_path, class: "main-button" do %>
    <p>CONTACT</p>
    <div id="red-div"></div>
  <% end %>
</div>

<div class="mobile-title">
  <p><%= @article.title %></p>
</div>

<div class="fiche-film">

  <div class="main-info">
    <div class="affiche">
      <div id="border-top-div"></div>
      <% if @article.photo.attached? %>
        <%= cl_image_tag @article.photo.key%>
      <% else %>
        <%= image_tag "logo_white.png" %>
      <% end %>
    </div>

    <div class="description">
      <div class="description-card">
        <p class="title"><%= @article.title %></p>
        <p><%= @article.contenu.gsub(/\n/, '<br><br>').html_safe %></p>
      </div>
      <div id="border-bottom-div"></div>
    </div>
  </div>

</div>







