<%= render 'shared/navbar' %>
<%= render 'shared/sidenav' %>

<div id="links-container">

  <%= link_to root_path, class: "main-button" do %>
    <p>ACCUEIL</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to nos_fictions_path, class: "main-button" do  %>
    <p>FICTIONS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to nos_documentaires_path, class: "main-button" do  %>
    <p>DOCUMENTAIRES</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to  nos_publicites_path, class: "main-button" do %>
    <p>PUBLICITÉS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to apropos_path, class: "main-button active" do %>
    <p>À PROPOS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to contact_path, class: "main-button" do %>
    <p>CONTACT</p>
    <div id="red-div"></div>
  <% end %>
</div>

<div class="mobile-title">
  <p>À PROPOS</p>
</div>

<!-- <div class="apropos-image-container">

</div> -->

<div class="fiche-film">

  <div class="main-info">
    <div class="affiche">
      <div id="border-top-div"></div>
      <%= image_tag "about.jpg", alt: "alttext" %>
    </div>

    <div class="description">
      <div class="description-card">
        <p class="title">LA FINE EQUIPE</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet id consequuntur facere odit porro nesciunt voluptatibus tempore dolorem magnam, possimus, illum. Quisquam dolorem, distinctio repellat minima commodi nisi quia aliquam!</p>
      </div>
      <div id="border-bottom-div"></div>
    </div>
  </div>
<%= render 'shared/footer' %>

