<%= render 'shared/navbar' %>
<%= render 'shared/sidenav' %>

<div id="links-container">

  <%= link_to root_path, class: "main-button" do %>
    <p>ACCUEIL</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to nos_fictions_path, class: "main-button" do  %>
    <p>FICTIONS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to nos_documentaires_path, class: "main-button" do  %>
    <p>DOCUMENTAIRES</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to  nos_publicites_path, class: "main-button" do %>
    <p>PUBLICITÉS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to apropos_path, class: "main-button active" do %>
    <p>À PROPOS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to contact_path, class: "main-button" do %>
    <p>CONTACT</p>
    <div id="red-div"></div>
  <% end %>
</div>

<div class="mobile-title">
  <p>À PROPOS</p>
</div>



<div class="fiche-film-a-propos">

  <div class="main-info-a-propos">
    <div class="affiche-a-propos">
      <%= image_tag "about.jpg", alt: "alttext" %>
    </div>

    <div class="description-a-propos">
      <div class="description-card-a-propos">
        <p class="title-a-propos">L´ÉQUIPE</p>
        <p>Créée fin 2019, <i style="color: red">Bonne Nouvelle Films</i>  est une société de production portée par Maxence Brenot et Victor Thevenot.</p>
        <p>Après l'obtention d'une licence de commerce, à l’<i style="color: red"> EDC Paris</i> pour Maxence et à l’<i style="color: red"> ESC Toulouse</i> pour Victor, ils se rencontrent en 2013 à l’école de cinéma <i style="color: red">ESEC Paris</i>. Ils en sortent diplômés dans la Production Cinématographique et Audiovisuelle en 2015. Au cours de ces années d’étude, ils se forgent de solides expériences, notamment à différents postes techniques et financiers sur des courts-métrages, et lors de la 68ème édition du Festival de Cannes : Victor y travaille au <i style="color: red">Short Film Corner</i>, Maxence à la <i style="color: red">Presse Audiovisuelle</i>.</p>
        <p>Leurs chemins se séparent ensuite pendant quelques années. Victor rejoint <i style="color: red">Les Films Pelléas</i> en tant qu'assistant de production, puis occupe le poste de chargé de production chez <i style="color: red">Mezzanine Films</i>. Maxence démarre en tant qu'assistant de production chez <i style="color: red">Empreinte Digitale</i>, puis devient chargé de production chez <i style="color: red">White Light Films</i>. Ils se recroisent finalement chez <i style="color: red">Mezzanine Films</i>, lorsque Maxence y prend le poste de producteur junior en 2018.</p>
        <p><i style="color: red">Bonne Nouvelle Films</i> est une société animée par l'appétit insatiable de ces jeunes producteurs assidus. Tous deux attirés par la fiction et le film de genre, ils souhaitent faire évoluer leur ligne éditoriale dans cette direction, sans pour autant mettre de côté leur intérêt pour le documentaire et l'institutionnel.</p>
      </div>
    </div>
  </div>
<%= render 'shared/footer' %>

