<%= render 'shared/navbar' %>
<%= render 'shared/sidenav' %>

<div id="links-container">

  <%= link_to root_path, class: "main-button" do %>
    <p>ACCUEIL</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to nos_fictions_path, class: "main-button" do  %>
    <p>FICTIONS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to nos_documentaires_path, class: "main-button" do  %>
    <p>DOCUMENTAIRES</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to  nos_publicites_path, class: "main-button" do %>
    <p>PUBLICITÉS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to apropos_path, class: "main-button" do %>
    <p>À PROPOS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to contact_path, class: "main-button active" do %>
    <p>CONTACT</p>
    <div id="red-div"></div>
  <% end %>
</div>

<div class="mobile-title">
  <p>CONTACT</p>
</div>

<div class="contact-info-container">

    <p class="red-title">DISCUTONS</p>

    <table>
      <tr>
        <td class="t-icon"><i class="fas fa-map-marker-alt"></i></td>
        <td><p>5 rue du Simplon 75018 Paris, France</p></td>
      </tr>
      <tr>
        <td class="t-icon"><i class="far fa-envelope"></i></td>
        <td><p>contact@bonnenouvellefilms.fr</p></td>
      </tr>

     <!--  <tr>
        <td>
          <p>Maxence Brenot</p>
          <p>Producteur</p>
          <p>maxencebrenot@bonnenouvellefilms.fr</p>

        </td>
        <td></td>
      </tr> -->
    </table>

</div>


<div class="formular-and-map-container">
   <div class="formular-container">
      <%= simple_form_for @site_contact do |f| %>
        <%= f.input :name, label: false, placeholder: "Nom" %>
        <%= f.input :address, label: false, placeholder: "Adresse" %>
        <div class="flex-container">
          <%= f.input :email, label: false, placeholder: "Email" %>
          <%= f.input :tel, label: false, placeholder: "Téléphone" %>
        </div>
        <%= f.input :subject, label: false, placeholder: "Objet" %>
        <%= f.input :message, as: :text, label: false, placeholder: "Message" %>
        <%= f.button :submit, "ENVOYER" %>
      <% end %>
    </div>


  <div class="map-container" id="map-container">
     <div
      id="map"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      data-image-url="<%= asset_url("logo_white.png") %>"
    >
    </div>
  </div>
</div>

<%= render 'shared/footer' %>



