
<div class="container">

  <div class="contact-main-container">
    <div class="discutons-container">

      <p class="red-title">DISCUTONS</p>
      <p>
        1 rue du Château 75001 Paris, France
        <br><br>
        victorthevenot@bonnenouvellefilms.fr
        <br><br>
        01 45 37 07 59
      </p>



    </div>
    <div class="formular-container">
      <%= simple_form_for @site_contact do |f| %>
        <%= f.input :name, label: false, placeholder: "Nom" %>
        <%= f.input :address, label: false, placeholder: "Adresse" %>
        <div class="flex-container">
          <%= f.input :email, label: false, placeholder: "Email" %>
          <%= f.input :tel, label: false, placeholder: "Téléphone" %>
        </div>
        <%= f.input :subject, label: false, placeholder: "Objet" %>
        <%= f.input :message, label: false, placeholder: "Message" %>
        <%= f.button :submit, "Envoyer" %>
      <% end %>
    </div>

  </div>

  <div class="map-container" id="map-container">
     <div
      id="map"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    >
    </div>
  </div>

</div>
