
<div class="container">
  <p>contact</p>

<%= simple_form_for @site_contact do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :email %>
  <%= f.input :tel %>
  <%= f.input :subject %>
  <%= f.input :message %>
  <%= f.button :submit %>
<% end %>
</div>
