<%= render 'shared/navbar' %>
<%= render 'shared/sidenav' %>

<div id="links-container">

  <%= link_to root_path, class: "main-button active" do %>
    <p>ACCUEIL</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to nos_fictions_path, class: "main-button" do  %>
    <p>FICTIONS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to nos_documentaires_path, class: "main-button" do  %>
    <p>DOCUMENTAIRES</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to  nos_publicites_path, class: "main-button" do %>
    <p>PUBLICITÉS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to apropos_path, class: "main-button" do %>
    <p>À PROPOS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to contact_path, class: "main-button" do %>
    <p>CONTACT</p>
    <div id="red-div"></div>
  <% end %>
</div>


<div class="carousel-wrapper">

  <div id="carousel-accueil" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% @articles.each_with_index do |a, i|%>
        <% if i == 0 %>
          <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>" class="active"></li>
        <% else %>
          <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>"></li>
        <% end %>
      <% end %>
    </ol>

    <div class="carousel-inner">

      <% @articles.each_with_index do |a, i|%>

        <% if i == 0 %>

          <div class="carousel-item active">
            <div class="carousel-centered">

            <% if a.link.blank? %>
              <a href="<%= article_path(a)%>">
            <% else %>
              <a href="<%= a.link %>">
            <% end %>

            <% if a.photo.attached? %>
              <img class="d-block" src="<%= cloudinary_url a.photo.key %>">
            <% else %>
              <img class="d-block" src="<%= asset_path 'logo_white.png' %>">
            <% end %>
            </a>

            </div>
          </div>

        <% else %>

         <div class="carousel-item">
          <div class="carousel-centered">

           <% if a.link.blank? %>
             <a href="<%= article_path(a)%>">
           <% else %>
             <a href="<%= a.link %>">
           <% end %>

           <% if a.photo.attached? %>
             <img class="d-block" src="<%= cloudinary_url a.photo.key %>">
           <% else %>
             <img class="d-block" src="<%= asset_path 'logo_white.png' %>">
           <% end %>
           </a>

          </div>
         </div>
        <% end %>

      <% end %>

    </div>

    <a class="carousel-control-prev carousel-controls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next carousel-controls"role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>

<%= render 'shared/footer' %>



