<div class="timtools-container centered-vertically">
  <div class="timtools-title">
    <%= link_to timtools_path do  %>
      <i class="fas fa-igloo"></i>
    <% end %>
    <h1>Nouvelle fiction</h1>
  </div>
  <div class="timtools-cards">

    <%= simple_form_for @fiction do |f| %>
      <%= f.input :title %>
      <%= f.input :synopsis %>
      <%= f.input :realisator %>
      <%= f.input :duration %>
      <%= f.input :year %>
      <%= f.input :casting %>
      <%= f.input :generique %>
      <%= f.input :technical_mentions %>
      <%= f.input :festivals %>
      <%= f.input :photo, as: :file %>

      <div class="center-container">
        <%= f.button :submit %>
      </div>

    <% end %>
  </div>
</div>

