<%= render 'shared/navbar' %>
<%= render 'shared/sidenav' %>

<div id="links-container">

  <%= link_to root_path, class: "main-button" do %>
    <p>ACCUEIL</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to nos_fictions_path, class: "main-button active" do  %>
    <p>FICTIONS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to nos_documentaires_path, class: "main-button" do  %>
    <p>DOCUMENTAIRES</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to  nos_publicites_path, class: "main-button" do %>
    <p>PUBLICITÉS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to apropos_path, class: "main-button" do %>
    <p>À PROPOS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to contact_path, class: "main-button" do %>
    <p>CONTACT</p>
    <div id="red-div"></div>
  <% end %>
</div>

<div class="mobile-title">
  <p><%= @fiction.title %></p>
</div>

<div class="fiche-film">

  <div class="main-info">
    <div class="affiche">
      <div id="border-top-div"></div>
      <%= cl_image_tag @fiction.photo.key%>
    </div>

    <div class="description">
      <div class="description-card">
        <p class="title"><%= @fiction.title %></p>
        <p>Synopsis :</p>
        <p><%= simple_format(@fiction.synopsis) %></p>
        <br>
        <p>Réalisation : <%= @fiction.realisator %></p>
        <br>
        <p>Durée : <%= @fiction.duration %></p>
        <br>
        <p>Année de production : <%= @fiction.year %></p>
        <br>
        <p>Casting : <%= @fiction.casting.gsub(/\n/, ', ') %></p>
      </div>
      <div id="border-bottom-div"></div>
    </div>
  </div>

  <% if @fiction.festivals %>
    <div class="other-mentions greyed-back">
      <p class="title">FESTIVALS</p>
      <p><%= simple_format(@fiction.festivals) %></p>
    </div>
  <% end %>

  <div class="other-mentions">
    <p class="title">GENERIQUE</p>
    <p><%= simple_format(@fiction.generique) %></p>
  </div>

  <div class="other-mentions greyed-back">
    <p class="title">MENTIONS TECHNIQUES</p>
    <p><%= simple_format(@fiction.technical_mentions) %></p>
  </div>


</div>



