<div class="timtools-container centered-vertically">
  <h1>Nouvelle Pub</h1>
  <div class="timtools-cards">

    <%= simple_form_for @pub do |f| %>
      <%= f.input :title %>
      <%= f.input :synopsis %>
      <%= f.input :realisator %>
      <%= f.input :duration %>
      <%= f.input :year %>
      <%= f.input :casting %>
      <%= f.input :generique %>
      <%= f.input :technical_mentions %>
      <%= f.input :festivals %>
      <%= f.input :photo, as: :file %>

      <div class="center-container">
        <%= f.button :submit %>
      </div>

    <% end %>
  </div>
</div>

