<%= render 'shared/navbar' %>
<%= render 'shared/sidenav' %>

<div id="links-container">

  <%= link_to root_path, class: "main-button" do %>
    <p>ACCUEIL</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to nos_fictions_path, class: "main-button" do  %>
    <p>FICTIONS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to nos_documentaires_path, class: "main-button" do  %>
    <p>DOCUMENTAIRES</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to  nos_publicites_path, class: "main-button active" do %>
    <p>PUBLICITÉS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to apropos_path, class: "main-button" do %>
    <p>À PROPOS</p>
    <div id="red-div"></div>
  <% end %>

  <%= link_to contact_path, class: "main-button" do %>
    <p>CONTACT</p>
    <div id="red-div"></div>
  <% end %>
</div>

<div class="mobile-title">
  <p><%= @pub.title %></p>
</div>

<div class="fiche-film">

  <div class="main-info">
    <div class="affiche">
      <div id="border-top-div"></div>
      <% if @pub.photo.attached? %>
        <%= cl_image_tag @pub.photo.key%>
      <% else %>
        <%= image_tag "logo_white.png" %>
      <% end %>
    </div>

    <div class="description">
      <div class="description-card">
        <p class="title"><%= @pub.title %></p>
        <p>Synopsis :</p>
        <p><%= simple_format(@pub.synopsis) %></p>
        <br>
        <p>Réalisation : <%= @pub.realisator %></p>
        <br>
        <p>Durée : <%= @pub.duration %></p>
        <br>
        <p>Année de production : <%= @pub.year %></p>
        <br>
        <p>Casting : <%= @pub.casting.gsub(/\n/, ', ') %></p>
      </div>
      <div id="border-bottom-div"></div>
    </div>
  </div>

  <% unless @pub.festivals.blank? %>
    <div class="other-mentions greyed-back">
      <p class="title">FESTIVALS</p>
      <p><%= simple_format(@pub.festivals) %></p>
    </div>
  <% end %>

  <div class="other-mentions">
    <p class="title">GENERIQUE</p>
    <p><%= simple_format(@pub.generique) %></p>
  </div>

  <div class="other-mentions greyed-back">
    <p class="title">MENTIONS TECHNIQUES</p>
    <p><%= simple_format(@pub.technical_mentions) %></p>
  </div>


</div>





